@model Satish.Models.CartProduct

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <section class="checkout-step2-summary">
        <h1 class="checkout-step2--title">Gracias por su compra</h1>
        <article class="summary-article">
            <p class="article-summary-title">Utilice este número para seguir su envío</p>
            <ul class="checkout-step2--list">
                <li>@ViewData.Values</li>
            </ul>
            <p class="article-summary-title">
                Recibirá los productos en su domicilio en los próximos 5 días.</p>
        </article>
    </section>
</div>
<div class="container" style="margin: 30px 0;">
    <a class="main-cta" asp-action="Index" asp-controller="Products">Seguir comprando.</a>
</div>
